<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" lang="de" ng-app="app" {% if frontend.customLoginBG  %}class="custom"{% endif %}>

<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ frontend.title }}</title>
    <link rel="stylesheet prefetch" href="/ui/default/bower_components/bootstrap/dist/css/bootstrap.min.css?v={{ app_version }}" >
    <link rel="stylesheet prefetch" href="/ui/default/bower_components/BootstrapXL/BootstrapXL.css?v={{ app_version }}" >
    <link rel="stylesheet prefetch" href="/ui/default/bower_components/font-awesome/css/font-awesome.min.css?v={{ app_version }}">
    <link rel="stylesheet prefetch" href="/ui/default/bower_components/textAngular/dist/textAngular.css?v={{ app_version }}">
    <link rel="stylesheet prefetch" href="/ui/default/bower_components/angular-ui-select/dist/select.min.css?v={{ app_version }}">
    <link rel="stylesheet prefetch" href="/ui/default/styles/loaders.min.css?v={{ app_version }}">
    <link rel="stylesheet prefetch" href="/ui/default/styles/custom.css?v={{ app_version }}">
    {% for cssFile in cssFiles %}
        <link rel="stylesheet prefetch" href="/custom/Frontend/ui/default/styles/{{ cssFile }}?v={{ custom_version }}">
    {% endfor %}

    <script>
        {{ script|raw  }}
    </script>
</head>
<body ng-class="{emotionalBackground: !userLoggedIn}">
{% verbatim %}
<pim-plugin key="INDEX_BODY_PREPEND" uiblocks="uiblocks"></pim-plugin>
<nav ng-cloak ng-show="userLoggedIn" id="pim-header" class="navbar navbar-default navbar-fixed-top devmode-{{devmode}} ">
    <div class="container-fluid">
        <pim-plugin key="INDEX_HEADER_PREPEND" uiblocks="uiblocks"></pim-plugin>
        <a href="#/dashboard"><img class="logo" ng-attr-src="{{frontend.customLogo ? '/custom/Frontend/ui/default/img/logo.png' : '/ui/default/img/appcms_logo.png'}}"></a>
        <pim-plugin key="INDEX_HEADER_LOGO_APPEND" uiblocks="uiblocks"></pim-plugin>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <pim-plugin key="INDEX_HEADER_NAVIGATION_PREPEND" uiblocks="uiblocks"></pim-plugin>
            <ul class="nav navbar-nav navbar-right ">
                <li ng-show="newVersion"><a href="#/logout" class="bg-danger"><span class="glyphicon glyphicon-info-sign"></span> Neue Version {{newVersion}} verfügbar, bitte aus-/einloggen!</a></li>
                <pim-plugin key="INDEX_HEADER_NAVIGATION_SUB_PREPEND" uiblocks="uiblocks"></pim-plugin>
                <li uib-dropdown>
                    <a href id="simple-dropdown" uib-dropdown-toggle>{{user.alias}} <span class="glyphicon glyphicon-user"></span></a>
                    <ul uib-dropdown-menu aria-labelledby="simple-dropdown">
                        <pim-plugin key="INDEX_HEADER_USER_DROPDOWN_PREPEND" uiblocks="uiblocks"></pim-plugin>
                        <li><a class="dropdown" href="#/logout"><span class="glyphicon glyphicon-log-out"></span> Ausloggen</a></li>
                        <pim-plugin key="INDEX_HEADER_USER_DROPDOWN_APPEND" uiblocks="uiblocks"></pim-plugin>
                    </ul>
                </li>
                <pim-plugin key="INDEX_HEADER_NAVIGATION_SUB_APPEND" uiblocks="uiblocks"></pim-plugin>
            </ul>
            <pim-plugin key="INDEX_HEADER_NAVIGATION_APPEND" uiblocks="uiblocks"></pim-plugin>
        </div>
        <pim-plugin key="INDEX_HEADER_APPEND" uiblocks="uiblocks"></pim-plugin>
    </div>
</nav>

<nav ng-cloak ng-show="userLoggedIn" id="pim-nav">
    <pim-plugin key="INDEX_NAVIGATION_PREPEND" uiblocks="uiblocks"></pim-plugin>
    <ul>
        <pim-plugin key="INDEX_NAVIGATION_ENTITIES_PREPEND" uiblocks="uiblocks"></pim-plugin>
        <li><h3><span class="glyphicon glyphicon-th-large"></span>Inhalte</h3>
            <ul>
                <pim-plugin key="INDEX_NAVIGATION_ENTITIES_SUB_PREPEND" uiblocks="uiblocks"></pim-plugin>
                <li ng-repeat="(entity, label) in entities"><a href="#/list/{{entity}}">{{label}}</a></li>
                <pim-plugin key="INDEX_NAVIGATION_ENTITIES_SUB_APPEND" uiblocks="uiblocks"></pim-plugin>
            </ul>
        </li>
        <pim-plugin key="INDEX_NAVIGATION_MEDIA_PREPEND" uiblocks="uiblocks"></pim-plugin>
        <li ng-show="permissions['PIM\\File'].readable || permissions['PIM\\Folder'].readable || uiblocks.INDEX_NAVIGATION_MEDIA_SUB_PREPEND || uiblocks.INDEX_NAVIGATION_MEDIA_SUB_PREPEND">
            <h3><span class="glyphicon glyphicon-picture"></span>Medienverwaltung</h3>
            <ul>
                <pim-plugin key="INDEX_NAVIGATION_MEDIA_SUB_PREPEND" uiblocks="uiblocks"></pim-plugin>
                <li ng-show="permissions['PIM\\File'].readable"><a href="#/files">Dateien</a></li>
                <li ng-show="permissions['PIM\\Folder'].readable"><a href="#/list/PIM/Folder">Ordner</a></li>
                <pim-plugin key="INDEX_NAVIGATION_MEDIA_SUB_PREPEND" uiblocks="uiblocks"></pim-plugin>
            </ul>
        </li>
        <pim-plugin key="INDEX_NAVIGATION_ADMIN_PREPEND" uiblocks="uiblocks"></pim-plugin>
        <li ng-show="user.isAdmin"><h3><span class="glyphicon glyphicon-cog"></span>Administration</h3>
            <ul>
                <pim-plugin key="INDEX_NAVIGATION_ADMIN_SUB_PREPEND" uiblocks="uiblocks"></pim-plugin>
                <li><a href="#/list/PIM/ThumbnailSetting">Bildgrößen</a></li>
                <li><a href="#/list/PIM/Log">Protokollierung</a></li>
                <li><a href="#/list/PIM/User">Benutzer</a></li>
                <li><a href="#/list/PIM/Group">Gruppen</a></li>
                <li><a href="#/settings">Einstellungen</a></li>
                <pim-plugin key="INDEX_NAVIGATION_ADMIN_SUB_APPEND" uiblocks="uiblocks"></pim-plugin>
            </ul>
        </li>
        <pim-plugin key="INDEX_NAVIGATION_VERSION_PREPEND" uiblocks="uiblocks"></pim-plugin>
        <li class="version">Version {{::version}}</li>
        <pim-plugin key="INDEX_NAVIGATION_VERSION_APPEND" uiblocks="uiblocks"></pim-plugin>
    </ul>
    <pim-plugin key="INDEX_NAVIGATION_APPEND" uiblocks="uiblocks"></pim-plugin>
</nav>

<div id="pim-content" class="container-fluid ng-class:{ 'pim-content-login': !userLoggedIn };">
    <pim-plugin key="INDEX_CONTENT_PREPEND" uiblocks="uiblocks"></pim-plugin>
    <div ng-view></div>
    <pim-plugin key="INDEX_CONTENT_APPEND" uiblocks="uiblocks"></pim-plugin
</div>

<div class="splash" ng-cloak="">
    <div class="loader-inner ball-pulse">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <p>Anwendung wird geladen...</p>
</div>
<pim-plugin key="INDEX_BODY_APPEND" uiblocks="uiblocks"></pim-plugin>
{% endverbatim %}
<!-- Angular Files -->
<script src="/ui/default/bower_components/jquery/dist/jquery.min.js?v={{ app_version }}"></script>
<script src="/ui/default/bower_components/jquery-ui/jquery-ui.min.js?v={{ app_version }}"></script>
<script src="/ui/default/bower_components/angular/angular.min.js?v={{ app_version }}"></script>
<script src="/ui/default/bower_components/angular-route/angular-route.min.js?v={{ app_version }}"></script>
<script src="/ui/default/bower_components/angular-cookies/angular-cookies.min.js?v={{ app_version }}"></script>
<script src="/ui/default/bower_components/angular-local-storage/dist/angular-local-storage.min.js?v={{ app_version }}"></script>
<script src="/ui/default/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js?v={{ app_version }}"></script>
<script src="/ui/default/bower_components/ng-file-upload/ng-file-upload-all.min.js?v={{ app_version }}"></script>
<script src="/ui/default/bower_components/textAngular/dist/textAngular-rangy.min.js?v={{ app_version }}"></script>
<script src="/ui/default/bower_components/textAngular/dist/textAngular-sanitize.min.js?v={{ app_version }}"></script>
<script src="/ui/default/bower_components/textAngular/dist/textAngular.min.js?v={{ app_version }}"></script>
<script src="/ui/default/bower_components/moment/min/moment.min.js?v={{ app_version }}"></script>
<script src="/ui/default/bower_components/angular-moment/angular-moment.min.js?v={{ app_version }}"></script>
<script src="/ui/default/bower_components/angulargrid/angulargrid.min.js?v={{ app_version }}"></script>
<script src="/ui/default/bower_components/angular-ui-select/dist/select.min.js?v={{ app_version }}"></script>
<script src="/ui/default/bower_components/angular-ui-sortable/sortable.min.js?v={{ app_version }}"></script>
<script src="/ui/default/bower_components/angularUtils-pagination/dirPagination.js?v={{ app_version }}"></script>

<!-- Dynamic Angular Modules -->
{% for modulePath in angularModules %}
    <script src="/custom/Frontend/ui/default/scripts/{{ modulePath }}?v={{ custom_version }}"></script>
{% endfor %}

<!-- Global App Files -->
<script>
    var appcms_modules = [
        /* Angular modules */
        'ngCookies',
        'ngFileUpload',
        'ngRoute',

        /* 3rd-party modules */
        'angularGrid',
        'angularMoment',
        'angularUtils.directives.dirPagination',
        'LocalStorageModule',
        'textAngular',
        'ui.bootstrap',
        'ui.sortable',
        'ui.select'
    ];

    {% for moduleName in angularModules|keys %}
    appcms_modules.push('{{ moduleName }}');
    {% endfor %}
</script>
<script src="/ui/default/scripts/app.module.js?v={{ app_version }}"></script>
<script src="/ui/default/scripts/app.routes.js?v={{ app_version }}"></script>
<script src="/ui/default/scripts/app.js?v={{ app_version }}"></script>
<script src="/ui/default/scripts/app.config.js?v={{ app_version }}"></script>

<!-- App Services -->
<script src="/ui/default/scripts/services/entity.service.js?v={{ app_version }}"></script>
<script src="/ui/default/scripts/services/file.service.js?v={{ app_version }}"></script>
<script src="/ui/default/scripts/services/token.service.js?v={{ app_version }}"></script>

<!-- App System-Types -->
{% for systemType in systemTypes %}
    <script src="/ui/default/types/{{ systemType.getAlias() }}/{{ systemType.getAlias() }}.directive.js?v={{ app_version }}"></script>
{% endfor %}
<!-- App Custom-Types -->
{% for customType in customTypes %}
    <script src="/custom/Frontend/ui/default/types/{{ customType.getAlias() }}/{{ customType.getAlias() }}.directive.js?v={{ custom_version }}"></script>
{% endfor %}

<!-- App Directives -->
<script src="/ui/default/scripts/directives/form.directive.js?v={{ app_version }}"></script>
<script src="/ui/default/scripts/directives/autoformat.directive.js?v={{ app_version }}"></script>
<script src="/ui/default/scripts/directives/fileicon.directive.js?v={{ app_version }}"></script>
<script src="/ui/default/scripts/directives/clearinput.directive.js?v={{ app_version }}"></script>
<script src="/ui/default/scripts/directives/bindValidity.directive.js?v={{ app_version }}"></script>
<script src="/ui/default/scripts/directives/enter.directive.js?v={{ app_version }}"></script>
<script src="/ui/default/scripts/directives/plugin.directive.js?v={{ app_version }}"></script>

<!-- App Controllers -->
<script src="/ui/default/scripts/controllers/partials/modal.controller.js?v={{ app_version }}"></script>
<script src="/ui/default/scripts/controllers/partials/file-edit.controller.js?v={{ app_version }}"></script>
<script src="/ui/default/scripts/controllers/partials/video-add.controller.js?v={{ app_version }}"></script>
<script src="/ui/default/scripts/controllers/partials/relogin.controller.js?v={{ app_version }}"></script>
<script src="/ui/default/scripts/controllers/login.controller.js?v={{ app_version }}"></script>
<script src="/ui/default/scripts/controllers/logout.controller.js?v={{ app_version }}"></script>
<script src="/ui/default/scripts/controllers/list.controller.js?v={{ app_version }}"></script>
<script src="/ui/default/scripts/controllers/form.controller.js?v={{ app_version }}"></script>
<script src="/ui/default/scripts/controllers/files.controller.js?v={{ app_version }}"></script>
<script src="/ui/default/scripts/controllers/dashboard.controller.js?v={{ app_version }}"></script>
<script src="/ui/default/scripts/controllers/settings.controller.js?v={{ app_version }}"></script>
<script src="/ui/default/scripts/controllers/error.controller.js?v={{ app_version }}"></script>


<!-- Dynamic Scripts -->
{% for jsFile in jsFiles %}
<script src="/custom/Frontend/ui/default/scripts/{{ jsFile }}?v={{ custom_version }}"></script>
{% endfor %}
</body>
</html>
