<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>:: Contentfly CMS - Let your content fly :::</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        body{
            background-image: url('/ui/default/img/bg_login.jpg');
        }

        .box{
            background-color: rgba(255,255,255,0.8);
        }

        .page-header{
            text-align: center;
        }

        .first{
            margin-top:80px;
        }

        #btn_submit{
            margin-bottom:30px;
        }

        .full{
            width:100%;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row first">
        <div class="col-md-4 col-md-offset-4 box">
            <div class="page-header">
                <img src="/ui/default/img/logo.png">
                <h2><small>Version: {{ app_version }}</small></h2>
            </div>
        </div>
    </div>
    {% if installed|default(false)  %}
        <div class="row">
        <div class="col-md-4 col-md-offset-4 box">
            <div class="alert alert-success" role="alert">
                <h3>Die Installation war erfolgreich</h3>
                <p>
                    Die Installation des Contentfly CMS war erfolgreich. Sie können sich nun in das Contentfly CMS einloggen. Vergessen Sie nicht im Anschluss das
                    Administratoren-Kennwort auf eine sichere Variante umzustellen.<br><br>
                </p>
                <ul>
                    <li>Benutzer: <i>admin</i></li>
                    <li>Passwort: <i>admin</i></li>
                </ul>
                <p>
                    <br><br>
                    <a class="btn btn-primary full" href="/?no_cache={{ installed|default(true) }}">Jetzt in das Contently CMS einloggen</a>
                </p>
            </div>
        </div>
        </div>
    {% else %}
    <form method="post">
        <input type="hidden" id="start" name="start" value="1">
        <div class="row last">
            <div class="col-md-4 col-md-offset-4 box">
                {% if errors  %}
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <b>Folgende Fehler sind aufgetreten:</b>
                    <ul>
                    {% for field,message in errors %}
                        <li>[{{ field }}] {{ message }}</li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <h2>Datenbank</h2>
                <div class="form-group">
                    <label for="db_host">Host</label>
                    <input type="text" class="form-control" name="db_host" id="db_host" placeholder="DB-HOST" value="{{ app.request.request.all.db_host|default('')}}" required>
                </div>
                <div class="form-group">
                    <label for="db_name">Name</label>
                    <input type="text" class="form-control" name="db_name" id="db_name" placeholder="DB-NAME" value="{{ app.request.request.all.db_name|default('')}}" required >
                </div>
                <div class="form-group">
                    <label for="db_user">Benutzer</label>
                    <input type="text" class="form-control" name="db_user" id="db_user" placeholder="DB-USER" value="{{ app.request.request.all.db_user|default('')}}" required>
                </div>
                <div class="form-group">
                    <label for="db_pass">Passwort</label>
                    <input type="text" class="form-control" name="db_pass" id="db_pass" placeholder="DB-PASS" value="{{ app.request.request.all.db_pass|default('')}}" required>
                </div>
                <h2>ID-Strategie</h2>
                <div class="form-group">
                    <div class="radio">
                        <label>
                            <input type="radio" name="db_strategy" id="db_strategy_auto" value="guid" {% if app.request.request.all.db_strategy|default('') == 'guid' %}checked{% endif %}>
                            <b>GUID</b> (Synchronisations-Unterstützung)</label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="db_strategy" id="db_strategy_auto" value="auto" {% if app.request.request.all.db_strategy|default('') == 'auto' %}checked{% endif %}>
                            <b>AUTO-INCREMENT</b></label>
                    </div>
                </div>
                <button type="submit" id="btn_submit" name="btn_submit" class="btn btn-primary full">Contentfly CMS jetzt installieren</button>
            </div>

        </div>
    </form>
    {% endif %}

</div>
</body>
</html>